.wrapper {
  width: 1024px;
  margin: auto;
}

body {
  background-color: #D2D5D8;
  font-family: 'Dosis', sans-serif;
}

header {
  margin-left: 100px;
  font-size: 36px;

}


.images {
  padding: 40px 45px 20px 0;
  text-align: center;
  position: relative;
  margin-left: 45px;

}

.button {
  display: inline-block;
  padding: 0 30px 0 30px;

}

a {

  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  border: solid black 2px;
  width: 52px;
  height: 52px;
  position: absolute;
  text-align: center;
  line-height: 52px;
  color: white;
  background-color: #313D44;
  margin: 30px 80px -20px 0px;

}

.text {
  width: 700px;
  border: black 0.15px;
  border: solid;
  padding: 20px 10px 40px 20px;
  margin: auto;


}


.verticalline{
  border-left: 3px solid white;
  height: 50px;
  float: right;
  margin: -89px 520px 0px 0px;

}

footer {
  background-color: #313D44;
  color: white;
  position: fixed;
  width: 1024px;

}
