/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----end css reset------ */

.wrapper {
	width: 1024px;
	max-width: 100%;
}

body {
  background-color: #E2E0D3;
  font-family: 'Montserrat', sans-serif;

}

h1 {

  font-family: 'Montserrat', sans-serif;
  font-size: 2.2em;
	padding: 20px 0 20px 0;
	text-align: center;

}

h2 {
  font-size: 1em;
	color: black;
	padding: 12px 0 30px 45px;
	line-height: 1.4em;

}

#logo {
  margin: 50px 0 10px 45px;
  padding-bottom: 30px;
	max-width: 12%;
}



#about-me, #bad-religion, #futura, #design, #camera, #young, #model {
  text-decoration: none;
  color: black;
  line-height: 3em;
  padding-left: 45px;

}


#home {

	padding: 0 0 100px 45px;
	max-width: 100%;


}

.content {
	display: table;
	width: 724px;
	float: right;
}

#badreligion-poster, #futura-poster, #type-book {
	width: 70%;
	position: relative;
	display: table-cell;
	margin: 0 300px 100px 0;
}


p {
	font-size: 0.8em;
	width: 320px;
	max-width: 100%;
	float: right;
	line-height: 1.5em;
	display: table-cell;
	margin:-320px -150px 0 0;
	padding: 20px;

}

footer a {
  text-decoration: none;
  color: white;
	font-size: 0.9em;
	margin: 10px;


}

.button {
	width: 50%;
	max-width: 200px;
	margin:12px;
	border:1px solid #f00;
}

@media screen and (max-width:700px) {
	.button{ border:5px solid #f00;}
}

.img-nav {
	overflow:auto;
  margin-left: 330px;
  position: absolute;
	top: 100px;
	width: 724px;
	border:1px solid #f00;

}


.main-nav {
	width: 300px;
	font-size: 0.9em;

}

footer {
  background-color: black;
	width: 100%;
	position: fixed;
	bottom: 0;
	color: white;
	padding:6px;
	text-align: center;

}



#wc3 {
	text-align: right;
	padding-right: 15px;

}

#email {
	padding-left: 15px;
	text-align: left;

}

}
