/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----end css reset------ */

body {
  background-color: #E2E0D3;
  font-family: 'Montserrat', sans-serif;

}

h1 {

  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
	padding: 20px 0 20px 0;
	text-align: center;

}

h2 {
  font-size: 18px;
	color: black;
	padding: 12px 0 30px 45px;
	line-height: 25px;

}

#logo {
  margin: 50px 0 10px 45px;
  padding-bottom: 30px;
	max-width: 10%;
}



#about-me, #bad-religion, #futura, #design, #camera, #young, #model {
  text-decoration: none;
  color: black;
  line-height: 45px;
  padding-left: 45px;



}

#about-me:visited {
	background-color: white;
}

#home {

	padding-left: 45px;
	max-width: 100%;

}

.content {
	display: table;
	width: 950px;
	float: right;
}

#badreligion-poster, #futura-poster {
	width: 52%;
	position: relative;
	display: table-cell;
	margin: 0 300px 100px 0;
}

p {
	font-size: 0.95em;
	width: 400px;
	max-width: 100%;
	float: right;
	line-height: 21px;
	display: table-cell;
	margin-top:-285px;
	padding: 20px;

}

footer a {
  text-decoration: none;
  color: white;
	display: table-cell;
	font-size: 14px;
	padding: 3px 0 3px 0;





}

div.button {
  display: table-cell;
  padding: 40px;
	width: 50%;



}

.img-nav {
	display: table;
  margin-left: 330px;
  position: absolute;
  padding: 35px;
	top: 45px;
	width: 100%;

}

.img-nav .row-1 {
	display: table-row;
}

.img-nav .row-2 {
	display: table-row;
}

.main-nav {
	width: 300px;


}

footer {
  background-color: black;
  width: 100%;
	position: fixed;
	bottom: 0;
	display: table;

}

#wc3 {
	text-align: right;
	padding-right: 15px;

}

#email {
	padding-left: 15px;
	text-align: left;

}

.verticalline {
  border-left: 2.5px solid white;
  height: 20px;
	margin: 8px 25px 0 0px;



}
